* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 14%;
}

/* global styles */

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.sm-gap {
  gap: 5px;
}

.bold-text {
  font-weight: 600;
}

.gray {
  color: rgb(94, 94, 94);
}

.sm-margin-top {
  margin-top: 10px;
}

/* card styles */

.card {
  height: 400px;
  width: 316px;
}

.top-image {
  width: 316px;
  height: 300px;
  object-fit: cover;
  border-radius: 3%;
}

.top-content {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 10px;
}

.position-relative {
  position: relative;
}

.icon {
  height: 12px;
}

.button {
  width: 115px;
  background-color: white;
  padding: 3px 0;
  text-align: center;
  border-radius: 50px;
}

.heart img {
  height: 20px;
}

.dots {
  position: absolute;
  bottom: 0;
  padding-bottom: 15px;
}

.dot-active {
  width: 5px;
  height: 5px;
  border-radius: 50px;
  background-color: white;
}

.dot {
  width: 5px;
  height: 5px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.7);
}
